.App {
  text-align: center;
}

table,td,th{
  border: 1px solid black;
}

table{
  border-collapse: collapse;
  width: 100%;
}
th{
  font-size: 2rem;
  background-color: burlywood;
  color:cornflowerblue;
}
td{
  font-size: 1.5rem;
  background-color: bisque;
  color:darkorchid;
}

td:hover{
  transform:scale(1.5,1.5);
  cursor: pointer;
  background-color: aqua;
  color: aliceblue;
}